HELP.md
target/
build.log
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Environment & Secret Files ###
.env
.env.*
*.env
application-production.properties
application-local.properties

### Log Files ###
*.log
backend.log
startup.log
push.log
push_error.log
push_error.txt
maven_log.txt
maven_ascii.log
